<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activtiys.MediaTest">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activtiys.AnimationTest">

        </activity>
        <activity android:name=".activtiys.NetworkTest" />
        <activity android:name=".activtiys.SwipeRefreshLayoutTest" />
        <activity android:name=".activtiys.DrawerLayoutTest" />
        <activity android:name=".activtiys.ViewPagerTest" />
        <activity android:name=".activtiys.FragmentTest" />
        <activity android:name=".activtiys.WebViewTest" />
        <activity android:name=".activtiys.SeekProBarRatingTest" />
        <activity android:name=".activtiys.GridViewTest" />
        <activity android:name=".activtiys.HorizontalListViewTest" />
        <activity android:name=".activtiys.ListViewTest" />
        <activity android:name=".activtiys.Dom_Login_Test" />
        <activity android:name=".activtiys.layoutTest" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <activity android:name=".activtiys.ImageViewTest" />
        <activity android:name=".activtiys.SpinnerTest" />
        <activity android:name=".activtiys.CheckBox_RadioButton_Test" />
        <activity android:name=".activtiys.EditTextTest" />
        <activity android:name=".activtiys.ButtonTest"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>